<div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="heading text-center">
                        <h2>Users</h2>
                    </div>
                    <div class="row head-padding">
                        <div class="col-md-6 large-icon">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-md-6 pull-right">
                            <div>
                                <h3>Active Users</h3>
                                <h3 class="count"> <strong> 1242 </strong> </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card-row">
                            <div class="col-md-4 small-card card-red text-center">
                                <h3>Total</h3>
                                <h3>12345</h3>
                            </div>
                            <div class="col-md-4 small-card card-blue text-center">
                                <h3>Total</h3>
                                <h3>12345</h3>
                            </div>
                            <div class="col-md-4 small-card card-green text-center">
                                <h3>Total</h3>
                                <h3>12345</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="card-row">
                            <div class="col-md-6 large-card card-red text-center">
                                <h3>Total</h3>
                                <h3>12345</h3>
                            </div>
                            <div class="col-md-6 large-card card-blue text-center">
                                <h3>Total</h3>
                                <h3>12345</h3>
                            </div>
                            <!-- <div class="col-md-4 small-card card-green">
                                <h3>Total</h3>
                                <h3>12345</h3>
                            </div> -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="card-row">
                            <div class="col-md-4 small-card card-red text-center">
                                <h3>Total</h3>
                                <h3>12345</h3>
                            </div>
                            <div class="col-md-4 small-card card-blue text-center">
                                <h3>Total</h3>
                                <h3>12345</h3>
                            </div>
                            <div class="col-md-4 small-card card-green text-center">
                                <h3>Total</h3>
                                <h3>12345</h3>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="heading text-center">
                        <h2>Statistics</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>