/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text-center {
  text-align: center;
}
.header{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  height: 70px;
  color: white;
  visibility: visible;
  margin-top: 0px;
  opacity: 1;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  right: 0;
  z-index: 9999;
}
.heading {
  background-color: #ec6666;
  height: 40px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  top: 0;
  left: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.head-padding {
  padding: 10px 20px 0 30px;
}

.card {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 3px 3px #767676;
}

.count {
  margin-top: 0;
}

.large-icon {
  width: 100px !important;
  height: 100px;
  border-radius: 50%;
  background-color: #429bf4;
  color: white;
  padding: 14px;
}

.card-row {
  padding-left: 15px;
}

.small-card {
  width: 100px !important;
  height: 100px;
  margin: 10px;
}

.large-card {
  width: 150px !important;
  height: 100px;
  margin: 13px;
}

.card-red {
  background-color: #f58787;
}

.card-blue {
  background-color: #4289f4;
}

.card-green {
  background-color: #42f486;
}
